<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <div class="tester">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Edit", edit_user_registration_path %></li>
                <li><%= link_to "Cart",cart_path(:id)%></li>
                <li><%= link_to "Orders",orders_path %>
                <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
