<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</p>

<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :date_of_birth %><br>
  <%= f.date_field :date_of_birth %>
</div>

<div class="field">
  <%= f.label :contact_number %><br>
  <%= f.text_field :contact_number %>
</div>